.main{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 48px 0;
    gap: 24px;
}

.favTitle {
    padding: 0 48px;
}

.collection {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 16px;
    padding: 0 48px;
}

@media (max-width: 768px) {
    .main {
        padding: 24px 0;
    }

    .collection, .favTitle {
        padding: 0 16px;
    }
}
